*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.header {
    text-align: center;
    background-image: linear-gradient(to right bottom, #38033f, #06008B);    color: white;
    height: 5em;
}

.header h1{
    margin: auto;
    padding: 0.5em;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1em;
    height: 60em;
}

.cities {
    padding: 1em;
    width: 25%;
    margin: 0.25em 0 0.25em 0;
}

.city-info {

    display: flex;
    flex-direction: column;
    margin-left: 1em;
    width: 95%;
    padding: 0.25em;
    height: 100%;
}

.city {
    color: gainsboro;
    background-color: dimgray;
    padding: 1em;
    width: 100%;
    height: 50%;
    margin-bottom:0.25em;
    box-shadow: 2px 4px 4px black;
}

.forecast {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top:0.25em;
    align-items: center;
}

.saved-cities-list {
    text-align: center;
    width: 100%;
    padding: 1em;
    font-weight: bold;
}

li {
    list-style: none;
    padding: 0.25em;
    border: solid rgb(173, 173, 173) 0.05em;
}

li:hover{
    border: solid rgb(102, 102, 102) 0.2em;
    transition-delay:0.5s;
    transition: border .75s;
}

.city-title {
    text-align: center;
    font-weight: bold;
}

.temp-today {
    font-size: 60px;
    font-weight: bolder;
    text-decoration: black underline 3px;
}

.card {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    background-image:linear-gradient(to right bottom, #38033f, #06008B);    color: white;
    width: 20%;
    height: 75%;
    flex-direction: column;
    margin:0.25em;
}

.daily {
    margin: 0.35em;
}

.other-info {
    font-size: 34px;
    padding: 1em;
}

.cities img {
    max-width: 40px;
}

